.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 10px;
        }
    }
}